/* Estilos generales para el cuerpo del documento */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el contenedor principal del escáner */
.scanner-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el elemento de la vista previa del escáner */
.qr-reader {
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px dashed #ddd;
    border-radius: 8px;
}

/* Estilo para el área de escaneo dentro del elemento de la vista previa */
.qr-scan-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 2px solid #42A5F5;
    pointer-events: none;
    box-sizing: border-box;
}

/* Estilos para los resultados del escaneo de QR */
#qr-reader-results {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

/* Nuevo: Estilos para el recuadro de detección del código QR */
.qr-code-highlight {
    position: absolute;
    border: 2px solid green;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1; /* Asegurar que el recuadro esté encima del video */
}

